.profile-content {
    .profile-post {
        margin-top: 4px;
        width: 100%;
        height: 100%;
        background-color: var(--background-color-light);
        
        @media (max-width: 500px) {
            width: var(--app-width-responsive);
        }

        .profile-post-frame {
            width: var(--frame-image-width);
            margin: auto;
            background-color: var(--background-color-light);
            
            @media (max-width: 500px) {
                width: var(--app-width-responsive);
            }

            img, video{
                display: inline-block;
                margin-left: 4.5px;
                width: calc(var(--app-width) / 3 - 6px);
                aspect-ratio: 1 / 1;
                object-fit: cover;
                cursor: pointer;

                @media (max-width: 500px) {
                    width: calc(var(--app-width-responsive) / 3 - 6px);
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }
}

.profile-content-dark {
    .profile-post {
        background-color: var(--background-color-dark);
        
        .profile-post-frame {
            background-color: var(--background-color-dark) !important;
        }
    }
}