.profile-content {
    .profile-post {
        margin-top: 4px;
        width: 100%;
        height: 100%;
        background-color: var(--background-color-light);
        .profile-post-frame {
            background-color: var(--background-color-light);

            @media (max-width: 1000px), (min-width: 800px) {
                padding: 0 100px 0 100px;
            }

            @media (max-width: 800px) {
                padding: 0px;
            }

            img {
                display: inline-block;
                margin-left: 4.5px;
                width: calc(var(--app-width) / 3 - 6px);
                aspect-ratio: 1 / 1;
                object-fit: cover;
                cursor: pointer;
            }
            video {
                display: inline-block;
                margin-left: 4.5px;
                width: calc(var(--app-width) / 3 - 6px);
                aspect-ratio: 1 / 1;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}

.profile-content-dark {
    .profile-post {
        background-color: var(--background-color-dark);
        
        .profile-post-frame {
            background-color: var(--background-color-dark) !important;
        }
    }
}