.profile-post {
    margin-top: 4px;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-light);
    .profile-post-frame {
        img {
            display: inline-block;
            margin-left: 4px;
            width: calc(var(--app-width) / 3 - 3px);
            height: calc(var(--app-width) / 3 - 3px);
            object-fit: cover;

            @media (max-width: 500px) {
                width: calc(var(--app-width-responsive) / 3 - 3px);
                height: calc(var(--app-width-responsive) / 3 - 3px);
            }
        }

        .img-first {
            margin-left: 1px;
        }
    }
}

.profile-post-dark {
    background-color: var(--background-color-dark);
}