.menu {
    display: flex;
    justify-content: space-between;
    width: var(--app-width);
    height: var(--footer-height);

    @media (max-width: 500px) {
        width: var(--app-width-responsive)
    }

    .menu-feed, .menu-explore, .menu-post, .menu-account {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color-light);

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
    
    .menu-active {
        background-color: transparent;

        &:hover {
            cursor: unset;
            opacity: 1;
        }

        .menu-title {
            margin-bottom: 8px; 
        }
    }
    
    .menu-next {
        border-top-left-radius: 6px;
    }

    .menu-prev {
        border-top-right-radius: 6px;
    }
    
    .menu-title {
        font-size: 20px;
    }

    .menu-feed {
        border-left: none;
    }

    .menu-account {
        border-right: none;
    }
}

.menu-dark {
    .menu-feed, .menu-explore, .menu-post, .menu-account {
        background-color: var(--background-color-dark);
    }

    .menu-active {
        background-color: transparent;
        &:hover {
            cursor: unset;
            opacity: 1;
        }

        .menu-title {
            margin-bottom: 8px; 
        }
    }

    .menu-next {
        border-top-left-radius: 6px;
    }
    
    .menu-prev {
        border-top-right-radius: 6px;
    }

    .menu-title {
        color: var(--color-primary);
    }
    
    .menu-feed {
        border-left: none;
    }

    .menu-account {
        border-right: none;
    }
}
