.menu {
    display: flex;
    justify-content: space-between;
    width: var(--app-width);
    height: var(--footer-height);
    background-color: var(--background-color-light);
    border-top: 1px solid #e7e7e7;

    @media (max-width: 500px) {
        width: var(--app-width-responsive)
    }

    .menu-feed, .menu-explore, .menu-post, .menu-account {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: var(--color-primary);
        }
    }
    
    .menu-active {
        box-shadow: 0 -1px 0 var(--background-color-light);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
    
        &:hover {
            cursor: unset;
            background-color: transparent;
        }
        .menu-title {
            margin-bottom: 8px; 
        }
    }
    
    .menu-title {
        font-size: 20px;
    }
}

.menu-dark {
    background-color: var(--background-color-dark);
    box-shadow: 0;
    border-top: 0.5px solid #5f5b5b;

    .menu-feed, .menu-explore, .menu-post, .menu-account {
        // border-left: 1px solid rgb(143, 143, 143);

        &:hover .menu-title {
            color: var(--text-black);
        }
    }

    .menu-active {
        box-shadow: 0 -1px 0 var(--background-color-dark);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 1px solid #5f5b5b;
        border-right: 1px solid #5f5b5b;
    
        &:hover {
            cursor: unset;
            background-color: transparent;
        }

        &:hover .menu-title {
            color: var(--color-primary) !important;
        }
        
        .menu-title {
            margin-bottom: 8px; 
        }
    }
    
    .menu-title {
        color: var(--color-primary);
    }
}

