.welcome {
    z-index: 10000;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;

    .welcome-logo-img {
        animation: welcome 1s ease-in;
    }
}

@keyframes welcome {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}