.big-button {
    width: var(--frame-image-width);
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
    text-shadow: 0 0 1px #000;
    letter-spacing: 4px;
    background-color: var(--background-color-light);
    border-radius: 5px;
    border: 1px solid var(--color-primary);

    @media (max-width: 500px) {
        width: 80%;
    }

    &:hover {                
        color: var(--text-white);
        background-color: var(--color-primary);
        cursor: pointer;
    }
}

.dark-button {
    color: var(--color-primary);
    background-color: var(--background-color-dark);
    border: 1px solid rgb(65, 62, 62);
    box-shadow: none;
}