.post-comment-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: var(--nav-height);
    margin-bottom: var(--footer-height);
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
        padding: 0 4px;
        width: var(--app-width-responsive);
    }

    .post-comment-container {
        position: relative;
        margin-top: -100px;
        width: 100%;
        max-width: calc(var(--frame-image-width) * 2);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background-color: var(--background-color-light);
        padding: 0 4px;
    }

    .post-preview {
        display: none;
        margin-top: 4px;
        width: 50%;
        position: relative;
        &:hover > .pause-btn {
            display: block;
        }

        @media (min-width: 900px) {
            display: block;
            img, video {
                width: 100%;
                aspect-ratio: 1 / 1;
            }
        }

        .play-btn, .pause-btn {
            font-size: 52px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            color: var(--text-white);
            opacity: 0.6;
        }

        .pause-btn {
            display: none;
        }
    }

    .post-comment {
        width: 100%;
        height: 70vh;
        padding-left: 8px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000000;
            border-radius: 2px;
        }

        @media (min-width: 900px) {
            width: 50%;
            height: auto;
            aspect-ratio: 1 / 1;
        }

        .post-comment-header {
            padding: 4px;
        }
        
        .comment-edit {
            position: relative;
            padding: 4px;

            textarea {
                padding: 4px 50px 4px 8px;
                width: 100%;
                height: 50px;
                background-color: var(--background-color-light);
                border: 1px solid var(--background-color-dark);
                border-radius: 3px;
            }

            .create-comment-btn {
                width: 40px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                position: absolute;
                bottom: 16px;
                right: 16px;
                border-radius: 3px;
                background-color: var(--background-color-dark);
                color: var(--text-white);
                cursor: pointer;
            }
        }

        .post-comment-content {
            padding: 4px;
            .no-comment, .max-comment {
                font-size: 12px;
            }
        
            .load-more-cmts-btn {
                display: flex;
                align-items: center;
                margin-top: 4px;
                padding: 4px;
                cursor: pointer;
        
                p {
                    margin-left: 4px;
                    font-size: 12px;
                }
            }
        
            .small-load-wrapper {
                position: absolute;
                bottom: 0;
                left: 75%;
                transform: translateX(-50%);
                @media (max-width: 900px) {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }        
    }
}

.post-comment-wrapper-dark {
    .post-comment-container {
        background-color: var(--background-color-dark);
        outline: 1px solid rgb(87, 87, 87);
    }
    
    textarea {        
        background-color: var(--background-color-dark) !important;
        border-color: var(--background-color-light) !important;
        color: var(--text-white)
    }     
    .create-comment-btn {
        background-color: var(--color-primary) !important;
        color: var(--text-black) !important;
    }

    .post-comment {
    
        @media (min-width: 1050px) {
            &::-webkit-scrollbar-thumb {
                background-color: var(--color-primary);
            }
        }

        .post-comment-header {
            h4 {
                color: var(--text-white);
            }
        }

        .load-more-cmts-btn {
            color: var(--text-white)
        }
    }
}

