.post-comment {
    margin-top: 4px;
    width: 100%;
    height: 100%;

    .no-comment, .max-comment {
        margin-top: 4px;
        font-size: 12px;
    }

    .load-more-cmts-btn {
        display: flex;
        align-items: center;
        margin-top: 4px;
        padding: 4px;
        cursor: pointer;

        p {
            margin-left: 4px;
            font-size: 12px;
        }
    }
}

.post-comment-dark {
    background-color: var(--background-color-dark);

    .load-more-cmts-btn {
        color: var(--text-white)
    }
}