.introduce {
    width: 100%;
    height: calc(100vh - var(--nav-height));

    .introduce-theme {
        width: 100%;
        height: 100%;        
    }

    .light-theme {
        background-color: var(--background-color-light);
    }

    .dark-theme {
        background-color: var(--background-color-dark);
    }

    .introduce-content {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .introduce-logo {
        margin-bottom: 14px;
    }

    .go-to-login-btn {
        margin-bottom: 16px;
    }
}