.chat-boxs {
    display: flex;
    width: var(--app-width);
    position: relative;
    overflow-x: hidden;
    
    // toggle btn
    .chat-list-toggle-icon {
        position: absolute;
        top: 0;
        left: 4px;
        padding: 8px;
        font-size: 32px;
        z-index: 10;
        cursor: pointer;
    }

    // chat list
    .chat-list {
        width: 30%;
        max-width: 360px;
        height: calc(100vh - var(--nav-height) - var(--footer-height));
        transition: width ease 0.5s;

        @media (max-width: 860px) {
            width: 0;
            transition: width ease 0.5s;
        }

        .chat-list-header {
            width: 100%;
            height: calc(var(--nav-height) + 10px);
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #ddd;

            .chat-list-search {
                position: relative;

                input {
                    margin-left: 24px;
                    min-width: 200px;
                    height: 24px;
                    border-radius: 3px;
                    border: 1px solid #ddd;
                    padding-left: 2px;

                    &:focus-visible {
                        outline: none;
                    }
                }
                .chat-list-search-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-45%);
                    right: 4px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        .chat-list-main {
            height: calc(100% - var(--nav-height) - 10px);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 6px;
                background-color: transparent;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: rgb(121, 121, 121);
                border-radius: 2px;
            }
        }
    }

    .chat-list-hide {
        width: 0%;
        transition: width ease 0.5s;

        .chat-list-header, .chat-list-main {
            display: none;
        }
    }

    .chat-list-full {
        @media (max-width: 860px) {
            width: 100%;
            max-width: 100%;
            transition: width ease 0.5s;

            .chat-list-search {
                input {
                    width: 50vw;
                    min-width: unset;
                }
            }
        }
    }



    // chat content
    .chat-content {
        flex: 1;
        height: calc(100vh - var(--nav-height) - var(--footer-height));
        transition: width ease 0.5s;
        position: relative;

        .chat-content-header {
            width: 100%;
            height: calc(var(--nav-height) + 10px);
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;

            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
            .chat-content-header-username {
                font-weight: 600;
                margin-left: 8px;
            }
        }

        .chat-content-main {
            width: 100%;
            height: calc(100% - var(--nav-height) - 70px);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 6px;
                background-color: transparent;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: rgb(121, 121, 121);
                border-radius: 2px;
            }
        }

        .chat-content-footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            padding: 0 8px 4px;

            input {
                flex: 1;
                height: 52px;
                border: none;
                padding-left: 16px;
                font-size: 14px;
                border: 1px solid #ddd;

                &:focus-visible {
                    outline: none;
                }
            }

            .send-message-btn {
                position: absolute;
                top: 50%;
                right: 18px;
                transform: translateY(-50%);
                width: 50px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                color: var(--color-primary);
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        
    }

    .chat-content-full {
        width: 100%;
        transition: width ease 0.5s;

        .chat-content-header {
            img {
                margin-left: 52px;
            }
        }

        .chat-content-footer {
            width: 100%;
        }
    }

    .chat-content-hide {
        @media (max-width: 860px) {
            width: 0;
            transition: width ease 0.5s;
            .chat-content-header, .chat-content-main, .chat-content-footer {
                display: none;
            }

        }        
    
    }
}

.chat-boxs-dark {
    .chat-list-toggle-icon, .chat-content-header-username  {
        color: var(--color-primary);
    }

    .chat-list-header, .chat-content-header {
        border-bottom-color: rgb(51, 51, 51) !important;
    }
    
    .chat-list-search {
        input {
            border-color: rgb(51, 51, 51) !important;
            background-color: var(--background-color-dark);
            color: var(--text-white);
        }
    }

    .chat-content-footer {
        input {
            color: var(--text-white);
            background-color: var(--background-color-dark);
            border-color: rgb(51, 51, 51) !important;
        }
    }
}