.chat-boxs {
    display: flex;
    width: var(--app-width);
    position: relative;
    overflow-x: hidden;
    
    // toggle btn
    .chat-list-toggle-icon {
        position: absolute;
        top: 0;
        left: 4px;
        padding: 8px;
        font-size: 32px;
        z-index: 10;
        cursor: pointer;
    }

    // chat list
    .chat-list {
        width: 30%;
        max-width: 360px;
        height: calc(100vh - var(--nav-height));
        transition: width ease 0.5s;
        border-right: 1px solid #ddd;

        @media (max-width: 860px) {
            width: 0;
            transition: width ease 0.5s;
        }

        .chat-list-header {
            width: 100%;
            height: calc(var(--nav-height) + 10px);
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;

            span {
                width: 56px;
                height: 100%;
            }

            .chat-list-search {
                flex: 1;
                position: relative;

                input {
                    width: 94%;
                    height: 24px;
                    border-radius: 3px;
                    border: 1px solid #ddd;
                    padding-left: 2px;

                    &:focus-visible {
                        outline: none;
                    }
                }
                .chat-list-search-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-45%);
                    right: 10%;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        .chat-list-main {
            height: calc(100% - var(--nav-height) - 10px);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 6px;
                background-color: transparent;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: rgb(121, 121, 121);
                border-radius: 2px;
            }

            .chat-list-add {
                margin-left: 6px;
                padding: 10px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: #6d6d6d;
                opacity: 0.8;

                p {
                    color: var(--color-primary);
                    font-weight: 600;
                    margin-right: 6px;
                    margin-bottom: 2px;
                }
            }
        }
    }

    .chat-list-hide {
        width: 0%;
        transition: width ease 0.5s;

        .chat-list-header, .chat-list-main {
            display: none;
        }
    }

    .chat-list-full {
        @media (max-width: 860px) {
            width: 100%;
            max-width: 100%;
            transition: width ease 0.5s;

            .chat-list-search {
                input {
                    width: 50vw;
                    min-width: unset;
                }
            }
        }
    }
}

.chat-boxs-dark {
    .chat-list {
        border-right-color: rgb(51, 51, 51) !important;
    }

    .chat-list-toggle-icon, .chat-content-header-username  {
        color: var(--color-primary);
    }

    .chat-list-header{
        border-bottom-color: rgb(51, 51, 51) !important;
    }
    
    .chat-list-search {
        input {
            border-color: rgb(51, 51, 51) !important;
            background-color: #2e2e2e;
            color: var(--text-white);
        }

        .chat-list-search-btn {
            color: var(--color-primary);
        }
    }
}