.my-profile {
    margin-top: var(--nav-height);
    width: 100%;
    height: calc(100vh - var(--nav-height));

    .my-profile-header {
        display: flex;
        width: var(--frame-image-width);
        margin: auto;
        padding: 12px 4px;
        border-bottom: 1px solid #ddd;

        @media (max-width: 500px) {
            width: var(--app-width-responsive);
        }

        .my-profile-avatar {
            position: relative;

            .upload-avatar-btn {
                position: absolute;
                z-index: 1;
                bottom: -10px;
                right: -50px;
                width: 68px;
                height: 28px;
                font-size: 16px;
                font-weight: 500;
                background-color: var(--color-primary);
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .avatar-upload {
                position: relative;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #ddd;

                .icon-upload {
                    font-size: 28px;
                    opacity: 0.5;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
            }

            .update-avatar {
                // background-color: aqua;
                z-index: 10000;
                position: fixed;
                width: var(--app-width);
                height: 100%;
                top: 0;
                @media (max-width: 500px) {
                    width: var(--app-width-responsive);
                }

                .update-avt-btns {
                    position: absolute;
                    top: 60px;
                    left: 50px;
                    display: flex;
                    flex-direction: column;
                    button  {
                        width: 64px;
                        height: 32px;
                        border: 1px solid #ddd;
                        background-color: #ddd;
                        font-size: 16px;
                    }

                    label {
                        margin-top: 10px;
                        width: 64px;
                        height: 32px;
                        border: 1px solid #ddd;
                        background-color: #ddd;
                        font-size: 16px;
                        text-align: center;
                        line-height: 32px;
                    }
                }               
            }
        }

        .my-profile-info {
            margin-left: 24px;

            h3 {
                margin-bottom: 12px;
            }

            .info-follow {
                display: flex;
                margin-bottom: 8px;
    
                .count-follower {
                    display: flex;
                    margin-right: 12px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
    
                .count-following {
                    display: flex;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
    
                span {
                    margin-left: 4px;
                    font-weight: 600;
                }
    
            }
    
            .count-post {
                display: flex;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
    
                p {
                    margin: 0 4px;
                }
    
                span {
                    font-weight: 600;
                }
            }
        }
    }

    .my-profile-footer {
        width: 100%;
        height: 30px;
    }
}


.my-profile-dark {
    .my-profile-header {
        border-bottom-color: #686868;

        .my-profile-info {

            h3 {
                color: var(--color-primary);
            }

            p {
                color: var(--text-white);
            }
        }

        .avatar-upload {
            background-color: #3b3b3b !important;
        }
    }

    span {
        color: var(--text-white);
    }
}

@keyframes loading {
    0% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.2;
    }

}