.register {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    background-color: var(--background-color-light);

    .register-theme {        
        width: 100%;
        height: 100%;  
    }

    .light-theme {
        background-color: var(--background-color-light);
    }

    .dark-theme {
        background-color: var(--background-color-dark);
    }

    .register-content {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-title {
        width: var(--frame-image-width);
        margin-bottom: 8px;
        @media (max-width: 500px) {
            width: 80%;
        }

        h1 {
            font-size: 24px;
            color: #444444;
            text-shadow: 3px 3px 1px var(--color-primary);
        }

        .form-title-dark {
            color: var(--color-primary);
            text-shadow: none;
        }
    }

    .register-form {
        width: var(--frame-image-width);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        @media (max-width: 500px) {
            width: 80%;
        }
    }

    .register-enter-btn {
        background-color: var(--color-primary);
        color: var(--text-white);
        margin-bottom: 12px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.register-dark {
    background-color: var(--background-color-dark);
}