:root {
    --background-color-light: #fff;
    --background-color-dark: #000;

    --nav-height: 50px;
    --footer-height: 38px;

    --text-black: #000;
    --text-white: #fff;
    --color-primary: #ebca47;

    --app-width: 500px;
    --app-width-responsive: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}