:root {
    --background-color-light: #fff;
    --background-color-dark: #000;

    --nav-height: 40px;
    --footer-height: 38px;

    --text-black: #000;
    --text-white: #fff;
    --color-primary: #ebca47;

    --app-width: 100%;
    --app-width-responsive: 100vw;
    
    --frame-image-width: 500px;

    --profile-header: 110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// disable the scrollbar on body when open modal 'post-comment-wrapper'
body:has(.post-comment-wrapper) {
    overflow: hidden;
}